.left{
    display: flex;
    flex-direction: row;
 
    justify-content: space-between;
    margin-top: 120px;
    margin-right: 180px;
}

.right{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 120px;
    margin-left: 180px;
    justify-content: space-between;
}
h2{
    color: #FA4A0C;
}

.main{
    color: black;
    font-size: 50px;
}